.calcButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.calcButton button {
    aspect-ratio: 1.1/1;
    border: none;
    border-radius: 15%;
    background: linear-gradient(145deg, #d384fb, #bb76d8);
    box-shadow:  1px 1px 22px #0d151c,
    -1px -1px 22px #355572;
    color: antiquewhite;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1rem;
    transform: scale(.9);
}

.calcButton button:active {
    box-shadow: none;
}

.calcButton button:last-of-type {
    background: linear-gradient(145deg, #ffd455, #e6b247);
}